@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --background-color: #f6f8ff;
  --primary-color: white;
  --logo-color: black;
  --grey-white: grey;
}

.dark-theme {
  --background-color: #141d2f;
  --primary-color: #1e2a47;
  --logo-color: white;
  --grey-white: white;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--background-color);
}
.full {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

header {
  width: 90%;
  margin: auto;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: var(--logo-color);
}

header div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}

header div h2 {
  color: grey;
  cursor: pointer;
}

.search {
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  margin-bottom: 3rem;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.img-search {
  /* background-color: #1e2a47; */
  background-color: var(--primary-color);
  padding: 1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search input {
  width: 100%;
  border: none;
  /* background-color: #1e2a47; */
  background-color: var(--primary-color);
  padding: 1rem;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: var(--logo-color);
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: var(--grey-white);
  opacity: 1;
}

.error {
  position: absolute;
  color: red;
  top: 35%;
  right: 30%;
  display: none;
}

.search button {
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 1rem 1.7rem;
  background-color: #409bff;
  color: white;
  border: none;
  border-radius: 15px;
}

.content {
  width: 90%;
  margin: auto;
  padding: 2rem;
  background-color: var(--primary-color);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.user-infos {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.user-infos-img {
  width: 35%;
}

.user-infos-img img {
  width: 100%;
  border-radius: 50%;
}

.user-infos-names {
  font-size: 1.5rem;
  color: var(--logo-color);
}

.user-infos-names a {
  color: blue;
}

.user-details {
  margin: 1.5rem 0rem;
  font-size: 1rem;
  color: var(--logo-color);
}

.repos {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 1rem;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: var(--logo-color);
}

.links {
  margin: 3rem auto;
  font-size: 1rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0rem;
  color: var(--grey-white);
}

.link svg {
  fill: var(--logo-color);
}

.profileLinkEl a,
.twitterProfileEl a {
  color: var(--grey-white);
}

.not-available {
  opacity: 0.5;
  pointer-events: none;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: var(--logo-color);
}

@media (min-width: 810px) {
  .full {
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .content {
    padding: 3rem 3rem;
  }

  .user-infos-img img {
    max-width: 170px;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .flex {
    font-size: 1.5rem;
  }
  .search button {
    top: 0%;
    right: 0%;
  }
}

@media (min-width: 1000px) {
  .user-infos-names {
    font-size: 3rem;
  }

  .repos {
    font-size: 2rem;
  }

  .user-details {
    font-size: 2rem;
  }

  .links {
    font-size: 2rem;
  }

  .search button {
    font-size: 2rem;
  }

  .search {
    padding: 1.8rem 0rem;
    background: var(--primary-color);
  }

  .search input {
    font-size: 2rem;
  }

  .search input::placeholder {
    font-size: 2rem;
  }

  .error {
    font-size: 1.5rem;
    display: block;
  }

  .search button {
    top: 23%;
    right: 2%;
  }

  .flex {
    font-size: 2rem;
  }
}
